.container-schedule {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 24px;
}

.container-btn {
    display: flex;
    gap: 20px;
}

.container-schedule h1 {
    color: var(--secondary-color);
    font-size: 38px;
}

.container-schedule #schedule {
    height: 640px;
    width: 1300px;

    display: grid;
    grid-template: repeat(6, 16.7%) / repeat(12, 8.33%);
}

.container-schedule #schedule #schedule-time {
    color: var(--third-color);
    grid-column: 2 / 13;

    display: grid;
    grid-template-columns: repeat(11, 9.1%);
}

.container-schedule #schedule #schedule-time .one-param {
    width: 100%;

    border-radius: 30px 30px 0 0;
    background-color: var(--primary-color);

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.container-schedule #schedule #schedule-time .one-param span:nth-child(1) {
    font-size: 20px;
    font-weight: 600;
}

.container-schedule #schedule #schedule-time .one-param span:nth-child(2) {
    font-size: 12px;
}

.container-schedule #schedule .day-grid {
    grid-column: 1 / 13;

    display: grid;
    grid-template-columns: repeat(12, 8.33%);

    justify-items: center;
    align-items: center;
}

.container-schedule #schedule .day-grid .one-day {
    width: 100%;
    height: 100%;

    color: var(--third-color);
    background-color: var(--primary-color);
    border-radius: 30px 30px 0 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: rotate(-90deg);
}

.container-schedule #schedule .day-grid .subject {
    height: 100%;
    width: 100%;
    padding: 2px;

    border: 1px solid var(--third-color);
    background-color: var(--fourth-color);

    display: grid;
    grid-template: repeat(5, 20%) / repeat(5, 20%);
}

.container-schedule #schedule .day-grid .subject span:nth-child(1) {
    font-size: 12px;
}

.container-schedule #schedule .day-grid .subject span:nth-child(2) {
    font-size: 21px;
    grid-column: 2 / 5;
    grid-row: 2 / 5;

    justify-self: center;
    align-self: center;
}

.container-schedule #schedule .day-grid .subject span:nth-child(3) {
    font-size: 12px;
    grid-column: 2 / 5;
    grid-row: 4 / 6;

    justify-self: center;
    align-self: center;
}

.container-schedule #schedule .day-grid .subject span:nth-child(4) {
    font-size: 10px;
    text-align: end;

    grid-column: 4 / 6;
    justify-self: end;
}


.container-schedule #schedule .day-grid .two-subjects {
    height: 100%;
    width: 100%;

    border: 1px solid var(--third-color);
    background-color: var(--fourth-color);
    overflow: hidden;
}

.container-schedule #schedule .day-grid .two-subjects div:nth-child(2) {
    border-top: 2px solid var(--third-color);
}

.container-schedule #schedule .day-grid .two-subjects .one-subject {
    height: 50%;
    width: 100%;
    padding: 2px;

    font-size: 10px;

    display: grid;
    grid-template: repeat(5, 20%) / repeat(5, 20%);
}

.container-schedule #schedule .day-grid .two-subjects .one-subject span:nth-child(2) {
    font-size: 16px;

    grid-column: 2 / 5;
    grid-row: 2 / 4;

    justify-self: center;
    align-self: center;
}

.container-schedule #schedule .day-grid .two-subjects .one-subject span:nth-child(3) {
    grid-column: 2 / 5;
    grid-row: 4 / 6;

    justify-self: center;
    align-self: center;
}

.container-schedule #schedule .day-grid .two-subjects .one-subject span:nth-child(4) {
    grid-column: 5 / 6;
    justify-self: end;
}