.container-loader {
    min-height: 100%;
    min-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    background-color: var(--third-color);

    transition: opacity .5s, visibility .5s;
    z-index: 10;
}

.container-loader.hide {
    opacity: 0;
    visibility: hidden;
}
