#side-panel {
    height: 100vh;
    width: 100px;

    background-color: var(--primary-color);
    box-shadow: var(--shadow);

    position: fixed;
    left: -10%;

    overflow-y: scroll;
    direction: rtl;

    transition: all .4s;
}

#side-panel.active-panel {
    left: 0;
}